*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*--font-principal: "Karla";
    --text: #a5b4c7;
    --background: #1F2937;
    --primary: #8dafd8;
    --secondary: #2a4971;
    --accent: #10B981;*/
    
    --text: #e6f3da;
    --background: #232e1b;
    --primary: #addc8b;
    --secondary: #486a30;
    --accent: #cea844;

    
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-app {
    width: 35rem;
    min-height: 35rem;
    border: 1px solid var(--accent);
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 7.2rem 3.3rem;
}

.password-app__title {
    color: white;
    font-weight: bolder;
    font-size: 2.5rem;
    margin: 0;
}

.password-app__highlight {
    color: var(--accent);
}

.password-app__subtitle {
    color: var(--text);
    font-style: italic;
    margin: 0.6rem 0 3.2rem 0;
}

.password-app__length-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--accent);
}

.password-app__length-buttons {
}

.password-app__input {
    text-align: center;
    color: var(--accent);
    font-weight: 900;
    font-size: 1.5rem;
    min-height: 3rem;
    min-width: 4rem;
    background-color: transparent;
    border: 1px solid var(--accent);
    border-radius: 0.3rem;
    margin: 0 1rem;
}

.password-app__input:focus {
    outline: none;
}

.password-app__step-btn {
    min-width: 1rem;
    background-color: transparent;
    color: var(--accent);
    line-height: 0;
    font-size: 2rem;
    border: none;
    cursor: pointer;
}

.password-app__step-btn:focus{
    outline: none;
}

.password-app__length-label {
    margin: 1rem 0 0 0;
}

.password-app__button {
    color: white;
    background-color: var(--accent);
    width: 12rem;
    height: 2.6rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    margin: 2rem 0 0 0;
}

.password-app__button:hover {
    background-color: ;
}

.password-app__separator {
    width: 100%;
    height: 0.1rem;
    background-color: var(--secondary);
    border: none;
    margin: 2rem 0;
}

.password-app__results {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1.5rem;
    
    
}

.password-app__box {
    background: var(--secondary);
    width: 13rem;
    min-height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
}

.password-app__output {
    color: var(--accent);
}

/* Quita las flechas por completo en Chrome, Safari, Edge y Opera */
.password-app__input::-webkit-outer-spin-button,
.password-app__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
.password-app__input {
  -moz-appearance: textfield;
}